
<h1>Alta de Animal</h1>
<form class="api/user/form" action="index.html" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="species" >
  <input type="text" name="habitat" >
  <input type="button"  value="Guardar">
</form>
