<h1>{{title}}</h1>
<p>Bienvenido a:{{title}}</p>


<div class="jumbotron">
  <h1>Proyecto IS Animales de Chapultepec</h1>
  <p></p>
</div>
<div >
<h1>Alta de usuario</h1>
<form action="/api/users/" method="post">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="species" >
  <input type="text" name="habitat" >
  <input type="submit"  value="Guardar">
</form>
</div>
